<div class="row-mt-2">
  <div class="col">
    <h4 class="page-header">Ürünler</h4>
  </div>
</div>

<div class="row-mt-2">
    <div class="col">
        <input type="text" class="form-control" placeholder="Arama yapın..."[(ngModel)]="filteredText">
    </div>
</div>

<div class="row-mt-2" *ngIf="filteredText">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            <b>{{ filteredText }}</b> için arama yaptınız...
        </div>
    </div>
</div>
  
<div class="row-mt-2">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of products | filter: 'productName' : filteredText ">
        <h5> <b>{{product.productName | uppercase}}</b></h5>
          <p>
            {{product.quantityPerUnit}}
          </p>  
        <h6> {{product.unitPrice | currency: '$'}} </h6>
        <h6>KDV'li Tutar: {{product.unitPrice | kdv :100 | currency: '$' }} </h6>
      </li>
    </ul>
  </div>
</div>